<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Heippa vaan!</h1>

        <p>Ja .. <span th:text="${viesti}">jotain?</span></p>

        <p><a href="/drinkit">Tästä annoslistaan</a></p>
        <p>Annoslistalla voit selata valmiita reseptejä ja lisäillä omia lemppareita</p>
        <p></p>
        <p><a href="/tilasto">Tästä raaka-ainelistaan</a></p>
        <p>Raaka-ainelistalla voit selailla raaka-aineiden käyttömääriä ja lisäillä omia lemppareita</p>
        
    </body>
</html>